// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

// Colors
$licorice: #464646;
$primaryBlue: #0063fb;
$milk: #FFFFFF;
$secondaryBlue: #06befb;

// Font

$colors: (
    licorice: #464646,
    primaryBlue: #0063fb,
    milk: #FFFFFF,
    secondaryBlue: #06befb,
);
html{
    font-size: 62,5%;
}

body{
    background-color: $milk;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 340.333px;
    padding: 0 31px;

    & a:link{
        text-decoration: none;
    }
    
}
// BEM "Stylesheet"
.topbar{
    color: $licorice;
    max-width:100% ;
    height: 50px;
    
    & a{
        
        font-size: 12px;
        margin: 0 0 0 8px;
        display: flex;
        justify-content: center;
        }
    
    & .topbar__nav:hover{
        cursor: pointer;
        text-decoration: underline;
        border-color: $primaryBlue;
        }  
}

.searchbar{
    width: 80%;
    height: 50px;

    & .searchbar{

    }
    & .searchbar__map{

    }
}

.grid{
    
    & .grid__marked{
        display: grid;
        grid-template-columns: repeat(6, minmax(10.4rem 1fr));
    }
}


