// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

// Colors
$licorice: #464646;
$primaryBlue: #0063fb;
$milk: #FFFFFF;
$secondaryBlue: #06befb;

$colors: (
    licorice: #464646,
    primaryBlue: #0063fb,
    milk: #FFFFFF,
    secondaryBlue: #06befb,
);

body{
    background-color: $milk;
    font-family: Arial, Helvetica, sans-serif;
}

// BEM "Stylesheet"
header{
    color: $licorice;
    font-size: 16px;

    &__topbar{
        
    }

    &__nav{
        margin: 0 340.333px;
        padding: 0 3px;

    }

    &__link{
        text-decoration: none;
    }    

    &__link--img{

    }
    &hover{
        cursor: pointer;
        text-decoration: solid;
        border-color: $primaryBlue;
        }
}

.searchbar{

    &__button{

    }
    &__map{

    }
}

.grid{
    
    &__marked{

    }
}


